.container{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.data-container{
    margin: 80px 50px 50px 150px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#content{
    background-color: rgb(247, 247, 247);
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#details-content{
    margin: 50px 50px 50px 150px;
    height: 100%;
}


.location{
    width: 200px;
}

#name{
    font-size: 35px;
    font-weight: bold;
    line-height: normal;
}

#description{
    border-radius: 15px;
    height: auto;
    font-size: 16px;
}

#description-title{
    font-size: 18px;
    font-weight:500;
}

#edit_img{
    height: 32px;
    width: 32px;
}