<div style="background-color: white; margin: 20px; border-radius: 10px; height: 95%; width: 95%;">
    <div style="height: 60px; display: flex; align-items: center;">
        <button class="orderButton" (click)="onUpcomingClicked()"
            style="background-color: rgb(242, 242, 242); border: 0px; border-radius: 20px; height: 40px; width: 100px; margin-left: 10px; margin-right: 10px;">Upcoming</button>
        <button class="orderButton" (click)="onAllClicked()"
            style="background-color: rgb(242, 242, 242); border: 0px; margin-left: 10px; margin-right: 10px; border-radius: 20px; height: 40px; width: 80px;">All</button>
        <button class="orderButton" (click)="onPastClicked()"
            style="background-color: rgb(242, 242, 242); border: 0px; margin-left: 10px; margin-right: 10px; border-radius: 20px; height: 40px; width: 90px;">Past</button>
    </div>

    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <th>ID</th>
            <th>Appointment</th>
            <th>Date</th>
            <th></th>
        </tr>
        <tr *ngFor="let appointment of appointments">
                <td>
                    {{appointment.appointmentNumber}}
                </td>
                <td>
                    {{appointment.appointmentName}}
                </td>
                <td>
                    {{appointment.appointmentDate | date: 'MMM d, y'}}
                </td>
                <td style="text-align: center;">
                    <input type="submit" id="detail" [routerLink]="['/home/appointment/detail', appointment.appointmentNumber]"
                        value="Details">
                    <input type="submit" id="delete" (click)="onDeleteClicked(appointment)"
                        value="Delete">
                </td>
        </tr>
    </table>
</div>